@model MoamenShalaby.Models.Rb7ViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/MyLayout.cshtml";
}

<h2>Create</h2>


<center>



    @using (Html.BeginForm())
    {

        <table class="table table-hover" dir="rtl">
            <thead>
                <tr>

                    <th style="text-align:right;font-size:20px">اليوم </th>
                    <th style="text-align:right;font-size:20px">الشهر </th>
                    <th style="text-align:right;font-size:20px">السنه </th>

                </tr>
            </thead>



            <tbody>

                <tr class="active">


                   
                    <td> <input type="text" name="day" value="" id="date" />  </td>
                    <td> <input type="text" name="month" value="" id="date" />  </td>
                    <td> <input type="text" name="year" value="" id="date" />  </td>


                </tr>


            </tbody>

            <tfoot>

                <tr>

                    <td><input type="submit" class="btn btn-success btn-lg" value="اظهار الربح اليومي " /></td>
                </tr>


            </tfoot>

        </table>
    }
</center>