@model MoamenShalaby.Models.customer

@{
    ViewBag.Title = "Edite";
    Layout = "~/Views/MyLayout.cshtml";
}

<h2>تعديل العملاء</h2>
<center>



    @using (Html.BeginForm())
    {

        <table class="table table-hover" dir="rtl">
            <thead>
                <tr>
                    <th style="text-align:right;font-size:20px">الرقم</th>
                    <th style="text-align:right;font-size:20px">اسم العميل</th>
                    <th style="text-align:right;font-size:20px">ملاحظات </th>


                </tr>
            </thead>



            <tbody>

                <tr class="active">
                    <td>1</td>
                    <td>@Html.TextBoxFor(a => a.name, new { maxlength = "50" })</td>
                    <td>@Html.TextAreaFor(a => a.notes, new { maxlength = "50" })</td>

                </tr>


            </tbody>

            <tfoot>

                <tr>

                    <td><input type="submit" class="btn btn-success btn-lg" value="حفظ " /></td>
                </tr>


            </tfoot>

        </table>
    }
</center>
