@model MoamenShalaby.Models.Trans_Customer

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/MyLayout.cshtml";
}

<h2>Delete</h2>

@using (Html.BeginForm())

{
    <div>

        هل تريد حذف  @Html.DisplayFor(a => a.customer.name)<br />


        <input class="btn btn-success btn-lg" type="submit" value="موافق" />


    </div>

}
