@model MoamenShalaby.Models.Trans_Customer

@{
    ViewBag.Title = "Edite";
    Layout = "~/Views/MyLayout.cshtml";
}

<h2>Edite</h2>


<center>



    @using (Html.BeginForm())
    {

        <table class="table table-hover" dir="rtl">
            <thead>
                <tr>


                    <th style="text-align:right;font-size:20px">اسم العميل</th>
                    <th style="text-align:right;font-size:20px">اجمالى التكاليف </th>
                    <th style="text-align:right;font-size:20px">المدفوع </th>

                    <th style="text-align:right;font-size:20px">ملاحظات </th>



                </tr>
            </thead>



            <tbody>

                <tr class="active">

                    <td>@Html.TextBoxFor(a=>a.customer.name)</td>
                    <td>@Html.EditorFor(a => a.total, new { maxlength = "50" })</td>
                    <td>@Html.EditorFor(a => a.cash, new { maxlength = "50" })</td>
                    <td>@Html.TextAreaFor(a => a.notes, new { maxlength = "50" })</td>
                    <td><input type="hidden" name="customer_id" value="" id="customer_id" /></td>

                </tr>


            </tbody>

            <tfoot>

                <tr>

                    <td><input type="submit" class="btn btn-success btn-lg" value="حفظ" /></td>
                </tr>


            </tfoot>

        </table>
    }
</center>